.business-detail-container {
  padding: 8px;
}

.business-logo {
  max-width: 90px;
}

.simple-container {
  padding: 8px;
}

.class-label {
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
}
