<div class="business-detail-container">
  <mat-card *ngIf="model.loadData" <div fxLayout="column">

    <div class="simple-container" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxFlex="20" fxLayoutAlign="space-between center">
        <img class="business-logo" [src]="getBusinessImg()">
        <div>{{model.business.name}}</div>
      </div>
      <div fxLayout="row" fxFlex="80" fxLayoutAlign="end center">
        <div>{{model.business.category}}</div>
      </div>
    </div>

    <div class="simple-container" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxFlex="20" fxLayoutAlign="space-between center">
        <div>{{model.business.description}}</div>
      </div>
      <div fxLayout="row" fxFlex="80" fxLayoutAlign="end center">
        <div>{{model.business.city}}</div>
      </div>
    </div>

    <div class="simple-container" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxFlex="20" fxLayoutAlign="space-between center">
        <div *ngFor="let jobs of model.business.jobs">{{jobs}}</div>
      </div>
      <div fxLayout="row" fxFlex="80" fxLayoutAlign="end center">
        <div *ngFor="let tecnologie of model.business.tecnologies">{{tecnologie}}</div>
      </div>
    </div>


    <div class="simple-container" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxFlex="20" fxLayoutAlign="space-between center">
        <div *ngFor="let socialNetwork of model.business.socialNetwork">{{socialNetwork}}</div>
      </div>
      <div fxLayout="row" fxFlex="80" fxLayoutAlign="end center">
        <div>{{model.business.webside}}</div>
      </div>
    </div>

</div>
</mat-card>
</div>
